mixin main-block(mods)
  -
    const baseName = 'main-block'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  #mainBlock.main-block(class=allMods)&attributes(attributes)
    +ui-h1('', 'main-block')
      +letters('Next-gen')
      +letters('gaming')
      +letters('company')
    .main-block__content
      .main-block__image
        img(src='img/svgs/main-block_img.svg', alt='')
      +card('main-block', 'main-block')
      +join-us('main-block')
    block
