mixin about(mods)
  -
    const baseName = 'about'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  #about.about(class=allMods)&attributes(attributes)
    .inner
      .about__wrapper
        .about__image
          img(src='img/about_img.png', alt='')
        +card('default', 'about')
        +card('friends-list', 'about')
        +card('text', 'about')
          +ui-text1('We create and invest in&nbsp;mobile F2P projects at the intersection of fresh trends and hybrid mechanics')
        +card('supported', 'about')
        block
