.about {
  margin-top: 190px;
  .inner {
    padding: 0;
  }
  .about__wrapper {
    position: relative;
  }
  &__card {
    transform: translateY(50%);
    opacity: 0;
    transition: 0.3s;
    &.card--default {
      position: absolute;
      top: 45px;
      left: 66px;
    }
    &.card--friends-list {
      position: absolute;
      top: 45px;
      right: 45px;
    }
    &.card--supported {
      position: absolute;
      right: 45px;
      bottom: 57px;
    }
    &.card--text {
      position: absolute;
      bottom: 57px;
      left: 66px;
    }
    &.card--visible {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
