.ui-text1 {
  font: 80px/1 $font;
  @include media-laptop {
    font-size: 48px;
  }
  @include media-tablet {
    font-size: 56px;
  }
  @include media-mobile {
    font-size: 32px;
  }
}
.ui-text2 {
  font: 40px/1 $font;
  @include media-laptop {
    font-size: 32px;
  }
  @include media-tablet {
    font-size: 28px;
  }
  @include media-mobile {
    font-size: 16px;
  }
}
.ui-text3 {
  font: 24px/1.1 $font;
  @include media-laptop {
    font-size: 20px;
  }
  @include media-mobile {
    font-size: 14px;
    line-height: 1.16;
  }
}
.ui-text4 {
  font: 700 24px/1 $font;
  @include media-laptop {
    font-size: 20px;
  }
  @include media-mobile {
    font-size: 16px;
  }
}
.ui-text-button {
  font: 30px/1 $font;
  @include media-laptop {
    font-size: 24px;
  }
  @include media-tablet {
    font-size: 28px;
  }
  @include media-mobile {
    font-size: 22px;
  }
}
.ui-text-menu {
  font: 30px/1 $font;
  @include media-laptop {
    font-size: 24px;
  }
  @include media-tablet {
    font-size: 20px;
  }
}
.ui-text-tags {
  font: 16px/1 $font;
  @include media-tablet {
    line-height: 1.1;
  }
  @include media-mobile {
    font-size: 12px;
  }
}
