mixin who-is(mods)
  -
    const baseName = 'who-is'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }
  -
    const whoIsItems = [
      { title: 'Data science' },
      { title: 'Marketing BI' },
      { title: 'Backend services' },
      { title: 'Trend predictor' }
    ]

  #whoIs.who-is(class=allMods)&attributes(attributes)
    +ui-h2('Independent, centralised, infrastructure', 'who-is')
    .who-is__body
      each item in whoIsItems
        .who-is__item
          .who-is__image
            img(src='', alt='')
          +ui-text2(item.title, 'who-is')
    block
