mixin third-star
  svg(class=attributes.class xmlns="http://www.w3.org/2000/svg", width="65", height="79", viewBox="0 0 65 79", fill="none")
    path(d="M5.48956 39.7591L0 39.9115L6.04599 40.2051C19.4592 40.8564 30.216 51.7271 30.9524 65.3752L31.6875 79L32.9344 64.5557C34.0817 51.2651 44.7036 40.8837 57.7965 40.2565L65 39.9115L58.3583 39.7296C45.0225 39.3646 34.0867 28.856 32.9617 15.3252L31.6875 0L30.9332 14.5149C30.212 28.3935 19.1383 39.3804 5.48956 39.7591Z", fill="url(#paint0_linear_1079_248)")
    defs
      lineargradient(id="paint0_linear_1079_248", x1="24.0948", y1="67.5037", x2="57.0064", y2="29.2504", gradientUnits="userSpaceOnUse")
        stop(offset="0.355321", stop-color="#FFDB8D")
        stop(offset="0.662619", stop-color="#88B2F8")

mixin third-line-1
  svg(class=attributes.class xmlns='http://www.w3.org/2000/svg' width='336' height='412' viewBox='0 0 336 412' fill='none')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M209.775 130.972C255.173 140.018 286.453 126.642 306.479 101.181C326.439 75.8049 335.11 38.5666 335.722 0.0317785L333.722 0C333.113 38.3274 324.482 75.0576 304.907 99.9444C285.4 124.745 254.915 137.927 210.166 129.01C79.1189 102.899 10.0817 184.301 1.84489 248.994C-3.01177 287.139 3.07138 318.457 16.467 343.065C29.8617 367.67 50.5332 385.502 74.7467 396.73C123.143 419.172 185.746 415.266 233.022 386.347L233.014 386.334C252.374 374.73 267.619 357.334 276.579 336.585C285.774 315.295 287.861 291.609 282.531 269.039C277.202 246.469 264.74 226.218 246.993 211.289C229.247 196.361 207.162 187.55 184.013 186.163C160.863 184.776 137.884 190.887 118.482 203.591C99.0804 216.294 84.2898 234.912 76.304 256.684C68.3182 278.456 67.5625 302.223 74.1491 324.458C80.7357 346.694 94.3138 366.214 112.869 380.124C113.311 380.455 113.938 380.366 114.269 379.924C114.601 379.482 114.511 378.855 114.069 378.524C95.8575 364.872 82.5312 345.713 76.0668 323.89C69.6023 302.067 70.3439 278.741 78.1817 257.373C86.0194 236.005 100.536 217.731 119.578 205.264C138.62 192.796 161.173 186.798 183.893 188.159C206.613 189.52 228.289 198.168 245.706 212.82C263.123 227.472 275.354 247.347 280.585 269.499C285.815 291.65 283.767 314.897 274.743 335.792C265.72 356.688 250.201 374.118 230.49 385.498C230.406 385.547 230.331 385.606 230.267 385.673C183.751 413.312 122.777 416.798 75.588 394.915C51.7185 383.847 31.3905 366.296 18.2236 342.109C5.0577 317.923 -0.982874 287.039 3.82888 249.247C11.9213 185.688 79.8817 105.09 209.775 130.972Z' fill='url(#paint0_linear_962_2543)')
    defs
      lineargradient#paint0_linear_962_2543(x1='281.299' y1='4.42265' x2='80.3204' y2='400.031' gradientUnits='userSpaceOnUse')
        stop(stop-color='white')
        stop(offset='0.244787' stop-color='#E7F0FE')
        stop(offset='1' stop-color='#B0C0E4' stop-opacity='0.71')

mixin third(mods)
  -
    const baseName = 'third'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  #third.third(class=allMods)&attributes(attributes)  
    .third__container
      .third__top
        +ui-h2('', 'third')
          +letters('Independent, centralised,')
          +letters('infrastructure')
          +third-star.third__star
