// fonts
$font: 'Basis Grotesque Pro', 'Arial', sans-serif;

// colors
$black: #171639;
$grey200: #eff2f7;
$lblue700: #88b2f8;

// media
$mediaWidthLaptop: 1919px;
$mediaWidthTablet: 1279px;
$mediaWidthMobile: 743px;
