.contacts {
  display: flex;
  align-items: center;
  margin-top: 100px;
  &__images {
    flex-shrink: 0;
    display: flex;
    margin-top: 180px;
  }
  &__image {
    &:first-child {
      max-width: 387px;
      margin-right: 40px;
    }
    &:last-child {
      max-width: 578px;
    }
  }
  &__card {
    width: 570px;
    margin-left: -50px;
    padding: 52px 84px 77px 47px;
  }
}
