mixin contacts(mods)
  -
    const baseName = 'contacts'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  #contacts.contacts(class=allMods)&attributes(attributes)
    .contacts__images
      .contacts__image
        img(src='img/contacts_img1.png', alt='')
      .contacts__image
        img(src='img/contacts_img2.png', alt='')
    +card('', 'contacts')
      +ui-text1('We are part of DMCC ecosystem')
    block
