mixin join-us(mods)
  -
    const baseName = 'join-us'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  a.join-us(class=allMods href='#contacts')&attributes(attributes)
    +ui-text-button('Join Us', 'join-us')
    block
