mixin letters(text, mods)
  -
    const baseName = 'letters'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .letters(class=allMods)&attributes(attributes)
    each item in text.split('')
      span=item
    block
