-
  const headerMenuItems = [
    { anchor: '#about', title: 'about' },
    { anchor: '#whoIs', title: 'who is' },
    { anchor: '#contacts', title: 'contacts' }
  ]

header.header
  .inner
    a.header__logo(href='/')
      +icon('logo')
    .header__menu
      each item in headerMenuItems
        a.header__item(href=item.anchor)
          +ui-text-menu(item.title)
